body {
    margin: 0 !important;
    padding: 0 !important;
}

/* Navbar settings */
#logo {
    width : 6vh;
    height : 6vh;
}

/* Offcanvas/sidebar settings */
#offcanvas-presentation {
    margin-bottom: 6vh;
    font-family: serif;
    font-size: large;
}

/* Containers settings */
.general-container {
    margin-top:5vh !important;
    text-align: center;
}

.txt-container {
    margin-top: 3.5vh;
}

/* Text settings */
.question-text {
    color:whitesmoke;
    background-color: #316558;
    font-family: 'Gill Sans' !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

em {
    font-size: x-large !important;
}
